* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
body {
    height: 100vh;
    background-image: url(/assets/tealnight.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.explore {
    background-image: url(/assets/explore.png);
}
.universe {
    background-image: url(/assets/universe.png);
}
img {
    width: 48px;
}
a {
    white-space: nowrap;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.61);
    font-weight: 500;
    font-size: 21px;
}
h2 {
    font-size: 48px;
    font-weight: 700;
}
h1 {
    justify-content: center;
    text-align: center;
    margin-top: 172px;
    margin-bottom: 24px;
    font-size: 48px;
    font-weight: 700px;
}
button {
    display: inline-flex;
    padding: 12px 32px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 2px solid #FFF;
    background-color: #ffffff00;
    font-size: 14px;
    cursor: pointer;
}
p {
    margin-top: 16px;
    font-size: 18px;

}
nav {
    padding: 40px 72px;
    display: inline-flex;
    gap: 40px;
    align-items: center;
}
.selected{
    font-weight: 700;
    color: #fff;
}
#app {
    margin: 102px 102px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width: 800px) {
    body {
        padding: 50px;
    }
    nav{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        padding-top: 0;
        margin-bottom: 50px;
    }
    #app {
        width: 100%;
        margin: 0;
    }
}
@media (max-width: 500px) {
    nav{
        padding: 10px;
        gap: 20px;
    }
    a {
        font-size: 18px;
    }
    img {
        width: 36px;
    }
}